<div class="section-title">
  Professional Tax for the Month of {{professionalTaxMonthLabel}}
</div>
<div class="employee-list-meta">
  Client name: <strong>{{companyName}}</strong>
  &nbsp;|&nbsp;
  Place: <strong>{{place}}</strong>
  &nbsp;|&nbsp;
  Eligible Employee Count for Professional Tax : <strong>{{totalEmployeeCount}}</strong>
</div>
<table class="employee-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Location</th>
      {{#if showEmpNo}}
      <th>EMP.NO</th>
      {{/if}}
      <th>Name</th>
      {{#if showPhyCode}}
      <th>PHY CODE</th>
      {{/if}}
      <th>P.Tax</th>
      {{#if showPtGross}}
      <th>PT Gross</th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each employees}}
    <tr>
      <td class="text-center">{{srNo}}</td>
      <td>{{locationName}}</td>
      {{#if ../showEmpNo}}
      <td class="text-center">{{employeeNo}}</td>
      {{/if}}
      <td>{{employeeName}}</td>
      {{#if ../showPhyCode}}
      <td class="text-center">{{phyCode}}</td>
      {{/if}}
      <td class="text-right">{{currency pTax}}</td>
      {{#if ../showPtGross}}
      <td class="text-right">{{currency ptGross}}</td>
      {{/if}}
    </tr>
    {{/each}}
    {{#if employees.length}}
    <tr class="grand-total-row">
      <td colspan="{{employeeListLabelColspan}}" class="text-right"><strong>Grand Total</strong></td>
      <td class="text-right"><strong>{{currency employeesTotalPTax}}</strong></td>
      {{#if showPtGross}}
      <td class="text-right"><strong>{{currency employeesTotalPtGross}}</strong></td>
      {{/if}}
    </tr>
    {{/if}}
    {{#unless employees.length}}
    <tr>
      <td colspan="{{employeeListColCount}}" class="text-center muted">No employees for this location and month.</td>
    </tr>
    {{/unless}}
  </tbody>
</table>
{{> employee-list-stamp}}
