<div class="employee-page">
  <div class="employee-page-title">
    Professional Tax for the Month of {{professionalTaxMonthLabel}}
  </div>
  <div class="employee-page-meta">
    Client name: <strong>{{companyName}}</strong>
    &nbsp;|&nbsp;
    Place: <strong>{{place}}</strong>
    &nbsp;|&nbsp;
    Eligible Employee Count for Professional Tax : <strong>{{totalEmployeeCount}}</strong>
  </div>
  <table class="employee-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Location</th>
        {{#if showEmpNo}}
        <th>EMP.NO</th>
        {{/if}}
        <th>Employee name</th>
        {{#if showPhyCode}}
        <th>PHY CODE</th>
        {{/if}}
        <th>P.Tax</th>
        {{#if showPtGross}}
        <th>PT Gross</th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
      {{#each employees}}
      <tr>
        <td class="center">{{srNo}}</td>
        <td>{{locationName}}</td>
        {{#if ../showEmpNo}}
        <td class="center">{{employeeNo}}</td>
        {{/if}}
        <td>{{employeeName}}</td>
        {{#if ../showPhyCode}}
        <td class="center">{{phyCode}}</td>
        {{/if}}
        <td class="right">{{currency pTax}}</td>
        {{#if ../showPtGross}}
        <td class="right">{{currency ptGross}}</td>
        {{/if}}
      </tr>
      {{/each}}
      {{#if employees.length}}
      <tr class="grand-total-row">
        <td colspan="{{employeeListLabelColspan}}" class="right"><strong>Grand Total</strong></td>
        <td class="right"><strong>{{currency employeesTotalPTax}}</strong></td>
        {{#if showPtGross}}
        <td class="right"><strong>{{currency employeesTotalPtGross}}</strong></td>
        {{/if}}
      </tr>
      {{/if}}
      {{#unless employees.length}}
      <tr>
        <td colspan="{{employeeListColCount}}" class="center empty-row">No employees for this client and month.</td>
      </tr>
      {{/unless}}
    </tbody>
  </table>
  {{> employee-list-stamp}}
</div>
