<table class="gu-grid">
  <colgroup>
    <col style="width: 28%" />
    <col style="width: 12%" />
    <col style="width: 18%" />
    <col style="width: 16%" />
    <col style="width: 13%" />
    <col style="width: 13%" />
  </colgroup>
  <tr>
    <th>જેમનો માસિક પગાર અથવા વેતન નીચે પ્રમાણે હોય તેવા કામે રહેનારાઓ</th>
    <th>કામે રહેનારાઓની સંખ્યા</th>
    <th>
      જેમના માટે કલમ-૪ ના બીજા પરંતુક હેઠળ કોઈ વેરો ચૂકવવાનો ન હોય તેવા કામે
      રહેનારાઓની સંખ્યા
    </th>
    <th>
      જેના સંબંધમાં વેરા ચૂકવવાના હોય તે કામે રહેનારાઓની સંખ્યા (એટલે કે કોલમ-૨ બાદ
      કોલમ-૩)
    </th>
    <th>કામે રહેનાર દીઠ દર મહિને વેરાનો દર રૂા.</th>
    <th>કપાત કરેલી વેરાની રકમ રૂા.</th>
  </tr>
  <tr class="idx-row">
    <td>(૧)</td>
    <td>(૨)</td>
    <td>(૩)</td>
    <td>(૪)</td>
    <td>(૫)</td>
    <td>(૬)</td>
  </tr>
  <tr class="data-row">
    <td class="first-col">(૧) ૧ થી ૨૯૯૯ સુધી (૦)</td>
    <td>{{slab1_no_emp}}</td>
    <td>{{slab1_no_tax_exempt}}</td>
    <td>{{slab1_taxable_emp}}</td>
    <td>{{slab1_rate}}</td>
    <td>{{slab1_amount}}</td>
  </tr>
  <tr class="data-row">
    <td class="first-col">(૨) ૩,૦૦૦ થી ૫૯૯૯ સુધી (૨૦)</td>
    <td>{{slab2_no_emp}}</td>
    <td>{{slab2_no_tax_exempt}}</td>
    <td>{{slab2_taxable_emp}}</td>
    <td>{{slab2_rate}}</td>
    <td>{{slab2_amount}}</td>
  </tr>
  <tr class="data-row">
    <td class="first-col">(૩) ૬૦૦૦ થી ૮૯૯૯ સુધી (૮૦)</td>
    <td>{{slab3_no_emp}}</td>
    <td>{{slab3_no_tax_exempt}}</td>
    <td>{{slab3_taxable_emp}}</td>
    <td>{{slab3_rate}}</td>
    <td>{{slab3_amount}}</td>
  </tr>
  <tr class="data-row">
    <td class="first-col">(૪) ૯૦૦૦ થી ૧૧૯૯૯ સુધી (૧૫૦)</td>
    <td>{{slab4_no_emp}}</td>
    <td>{{slab4_no_tax_exempt}}</td>
    <td>{{slab4_taxable_emp}}</td>
    <td>{{slab4_rate}}</td>
    <td>{{slab4_amount}}</td>
  </tr>
  <tr class="data-row">
    <td class="first-col">(૫) ૧૨૦૦૦ થી વધુ (૨૦૦)</td>
    <td>{{slab5_no_emp}}</td>
    <td>{{slab5_no_tax_exempt}}</td>
    <td>{{slab5_taxable_emp}}</td>
    <td>{{slab5_rate}}</td>
    <td>{{slab5_amount}}</td>
  </tr>
  <tr class="totals-row">
    <td colspan="4" class="lbl-cell">(એ) કુલ રૂપિયા:</td>
    <td colspan="2" class="val-cell">{{totalA}}/-</td>
  </tr>
</table>
<p class="note-line">(પાંચ જુઓ)</p>
